aws_region          = "us-east-1"
project_name        = "hydrosat"
environment         = "dev"
public_subnet_azs   = ["us-east-1a", "us-east-1b"]
private_subnet_azs  = ["us-east-1a", "us-east-1b"]
cluster_endpoint_private_access = true
cluster_endpoint_public_access = true
cluster_endpoint_public_access_cidrs = ["203.0.113.10/32"]
enable_service_kms_hardening = false
eks_secrets_kms_key_arn = "arn:aws:kms:us-east-1:123456789012:key/replace-with-eks-key"
cloudwatch_logs_kms_key_arn = "arn:aws:kms:us-east-1:123456789012:key/replace-with-logs-key"
s3_kms_key_arn = "arn:aws:kms:us-east-1:123456789012:key/replace-with-s3-key"
enable_ebs_csi_driver = true
cluster_admin_principal_arns = ["arn:aws:iam::123456789012:user/replace-me"]
enable_vpc_flow_logs = true
vpc_flow_log_retention_in_days = 7
db_instance_class   = "db.t4g.micro"
db_engine_version   = "16"
db_multi_az         = false
db_enable_performance_insights = false
db_enable_enhanced_monitoring = false
grafana_cloud_secret_arn = "arn:aws:secretsmanager:us-east-1:123456789012:secret:hydrosat/dev/grafana-cloud-example"
