bucket         = "<project-name>-<unique-suffix>-tf-state"
dynamodb_table = "<project-name>-terraform-locks"
region         = "us-east-1"
key            = "dev/platform.tfstate"
encrypt        = true
